<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'bootstrap.html' %}
  <link rel="stylesheet" href="../static/styles/admin.css">
  <title>Admin Page</title>
  <style>
    body {
    padding-top: 60px; /* Adjust this value based on the height of your header */
}
/* admin.css */
.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}

  </style>
</head>

<body>
  <header class="p-3 mb-3 border-bottom fixed-top">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link px-2 link-body-emphasis dropdown-toggle" aria-expanded="false">Manage User</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/reg_user">Register Staff</a></li>
              <li><a class="dropdown-item" href="/view_user">View Staff</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link px-2 link-body-emphasis dropdown-toggle" aria-expanded="false">Manage Members</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/view_member">View Members</a></li>
              <li><a class="dropdown-item" href="/reg_user/staff">Search Members</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link px-2 link-body-emphasis dropdown-toggle" aria-expanded="false">Manage Jobs</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/reg_job">Post New Jobs</a></li>
              <li><a class="dropdown-item" href="/job">View Jobs</a></li>
              <li><a class="dropdown-item" href="/search_job">Search Job</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link px-2 link-body-emphasis dropdown-toggle" aria-expanded="false">Manage Applicant</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/view_applicants">View Applicant</a></li>
              <li><a class="dropdown-item" href="/search_applicant_by_job_id_form">View Applicant by Job ID</a></li>
              <!-- <li><a class="dropdown-item" href="/reg_user/manager">Delete Applicant</a></li> -->
            </ul>
          </li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="../static/images/beki.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="/sign_up">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="content">
    {% block content %}{% endblock %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
