<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" href="../static/styles/basic.css">
  </head>

  <body>
    {% include 'navbar.html' %} {% include 'banner-image.html' %}

    <div class="main">
      <div class="container" mt-2>
        <h1
          class="text-center"
          mt-2
          mb-4
          style="margin-top: 30px; margin-bottom: 30px"
        >
          <i> JOB CARRIER <br /><span>JC</span> <br /></i>
        </h1>

        <div class="row">
          <div class="col-6">
            <p
              class="lead"
              id="para"
              style="
                text-align: justify;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
              "
            >
              Welcome to our Online Job Application System! We are thrilled that
              you are interested in joining our team. Our streamlined
              application process allows you to apply for open positions quickly
              and efficiently. Whether you are just starting your career or
              looking to take the next step, we offer a range of opportunities
              that can help you achieve your professional goals. Explore our
              available positions and submit your application today to take the
              first step toward a rewarding career with us. If you have any
              questions or need assistance, our support team is here to help.
              Thank you for considering us as your next career destination!
            </p>
          </div>
          <div class="col-6">
            <img
              src="../static/images/we-want-u.jpg"
              alt="job"
              style="
                border-radius: 4px;
                width: 90%;
                height: 340px;
                margin-bottom: 40px;
              "
            />
          </div>

          <div class="col-6">
            <img
              src="../static/images/job.avif"
              alt="job"
              style="
                border-radius: 4px;
                width: 90%;
                height: 340px;
                margin-bottom: 40px;
              "
            />
          </div>

          <div class="col-6">
            <p
              class="lead"
              id="para"
              style="
                text-align: justify;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
              "
            >
              Even if you are an average person, you can find your place in the
              online business world for as long as you possess the right
              attitude, drive, and passion. If you can read, write and
              understand instruction in English and possess a skill and willing
              to learn some other skills, you can be able to choose from the
              many different options available on the internet. Even if you are
              an average person, you can find your place in the online business
              world for as long as you possess the right attitude, drive, and
              passion. If you can read, write and understand instruction in
              English and possess a skill and willing to learn some other
              skills, you can be able to choose from the many different options
              available on the internet
            </p>
          </div>

          
        </div>
        <div class="text-center">
          <a
            href="mailto:bekitena34@gmail.com?subject=Quation on appling for vaccancy"
            class="btn btn-primary btn-lg"
            >Contact us</a
          >
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
