<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Member Login</title>
    <link rel="stylesheet" href="../static/styles/login.css" />
    <link rel="stylesheet" href="../static/styles/mem_login.css">
    {% include 'bootstrap.html' %}
  </head>

  <body>
    {% include 'navbar.html' %}

    <div class="login-container">
      <h2>Member Login</h2>
      <form action="{{ url_for('mem_login') }}" method="post">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="message {{ category }}-message">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="form-group">
          <p>Email</p>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            required
          />
        </div>
        <div class="form-group">
          <p>Password</p>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-login">
          Login
        </button>
      </form>
    </div>
  </body>
</html>
