<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles/form.css">
    <title>User Login</title>
    {% include 'bootstrap.html' %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-4 mb-4">
        <h2 class="text-center">User Login</h2>
        <form action="{{ url_for('mem_login') }}" method="post" class="login-form">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    {% include 'footer.html' %}
</body>
</html>
