<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles/table.css">
    <title>User Profile</title>
    {% include 'bootstrap.html' %}
</head>
<body>
    {% include 'base.html' %}
    <div class="container content mt-4 mb-4">
        <h2 class="text-center">Hello {{ user.username }} !</h2>
        <div class="profile-details border p-3 rounded">
            <h4 class="mb-3">Profile Information</h4>
            <p><strong>User ID:</strong> {{ user.user_id }}</p>
            <p><strong>Name:</strong> {{ user.username }}</p>
            <p><strong>Age:</strong> {{ user.age }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Address:</strong> {{ user.address }}</p>
        </div>
    </div>
    <div style="bottom: 0;">
        {% include 'footer.html' %}
    </div>
</body>
</html>
