<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstrap.html' %}
    <title>Search Job</title>
 <link rel="stylesheet" href="../static/styles/search-job.css">
</head>
<body>
    {% include 'admin.html' %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 form-wrapper">
                <h2 class="mb-4">Search Job</h2>
                <form action="/job_search" method="get" class="needs-validation" onsubmit="return validateForm();">
                    <div class="form-group">
                        <label for="jobId">Enter Job ID:</label>
                        <input type="number" id="jobId" name="id" class="form-control" required>
                        
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Search</button>
                </form>
            </div>
        </div>
    </div>           
            
    {% include 'footer.html' %}
    <script src="../static/scripts/job-post.js"></script>
</body>
</html>
