<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Registration</title>
  <link rel="stylesheet" href="../static/styles/login.css">
  {% include 'bootstrap.html' %}
</head>

<body>
  {% include 'admin.html' %}
  <div class="login-container">
    <h2>Register User</h2>
    <form action="/register" method="post" onsubmit="return validateForm()"">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="email" class="form-control" id="username" name="username" required />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required />
      </div>
      <button type="submit" value="Register" class="btn btn-primary btn-block btn-login">
        Register
      </button>
    </form>
  </div>
  <script src="../static/scripts/user.js"></script>
  {% include 'footer.html' %}
</body>

</html>