<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Applications</title>
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" href="../static/styles/user-application.css">
 
</head>
<body>
    {% include 'base.html' %}
    <div class="container content mt-4 mb-4">
        <h2 class="text-center mt-3 mb-4" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Hello {{ user.username }} here is your Application Status</h2>
        <div class="application-status mt-4">
            <table id="profile-table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Job ID</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>LinkedIn</th>
                        <th>Qualification</th>
                        <th>Experience</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% if application %}
                        {% for app in application %}
                        <tr>
                            <td>{{ app.id }}</td>
                            <td>{{ app.job_id }}</td>
                            <td>{{ app.full_name }}</td>
                            <td>{{ app.email }}</td>
                            <td><a href="{{ app.linkedin }}" target="_blank">LinkedIn</a></td>
                            <td>{{ app.qualification }}</td>
                            <td>{{ app.experience }}</td>
                            <td>{{ app.status }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="8" class="no-applications">No applications found</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>
