<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Sign Up Users List</title>
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" href="../static/styles/table.css">
    <link rel="stylesheet" href="../static/styles/search-member.css">
</head>
<body>
    {% include 'admin.html' %}
    <div class="container">
        <h2 class="text-center mb-4 mt-4">All Sign Up Users List</h2>
            <form class="table-container mt-4 search-form d-flex justify-content-center align-items-center" method="GET" action="{{ url_for('search_user') }}">
                <input type="email" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" id="email" name="email" placeholder="Enter email to search" required>
                <button type="submit" class="btn btn-primary search-button">Search</button>
            </form>
        <div class="table-container mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>User Name</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    {% if members %}
                    {% for member in members %}
                    <tr>
                        <td>{{ member.user_id }}</td>
                        <td>{{ member.username }}</td>
                        <td>{{ member.age }}</td>
                        <td>{{ member.address }}</td>
                        <td><a href="mailto:{{ member.email }}">{{ member.email }}</a></td>
                        <td>{{ member.password }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="6" class="text-center">No users found</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'footer.html' %}
    <script src="/static/scripts/delete.js"></script>
    <script src="../static/scripts/zoomin.js"></script>
    <script src="../static/scripts/view-cell-data.js"></script>
</body>
</html>
