<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles/table.css">
    <title>Admin Data</title>
    {% include 'bootstrap.html' %}

</head>
<body>
    {% include 'admin.html' %}
    <div class="container" mt-2 mb-4 style="margin-bottom: 100px;">
        <h1 class="text-center" mt-2 mb-4 style="margin-top: 30px; margin-bottom: 30px">
            <i> Member List</i>
        </h1>
        <div class="table-container">
            <table id="admin-table">
                <thead>
                    <tr>
                        <th>User ID:</th>
                        <th>User Name:</th>
                        <th>Age:</th>
                        <th>Address:</th>
                        <th>Email:</th>
                        <th>Password:</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if members %}
                    {% for member in members %}
                    <tr>
                        <td data-full-value="{{ member.user_id }}">{{ member.user_id }}</td>
                        <td data-full-value="{{ member.username }}">{{ member.username }}</td>
                        <td data-full-value="{{ member.age }}">{{ member.age }}</td>
                        <td data-full-value="{{ member.address }}">{{ member.address }}</td>
                        <td data-full-value="{{ member.email }}"><a href="mailto:{{ member.email }}">Mail to {{ member.email }}</a></td>
                        <td data-full-value="{{ member.password }}">{{ member.password }}</td>
                        <td>
                            <a href="/update_member_form?id={{ member.user_id }}">
                                <i class="pencil-icon">edit</i>
                            </a>
                        </td>
                        <td>
                            <form action="/delete_member" method="POST" onsubmit="return confirmDelete()">
                                <input type="hidden" name="id" value="{{ member.user_id }}">
                                <input style="color: brown;" type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'footer.html' %}
    <script src="/static/scripts/delete.js"></script>
    <script src="../static/scripts/zoomin.js"></script>
    <script src="../static/scripts/view-cell-data.js"></script>
</body>
</html>
